node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log
.DS_Store
.env*
.next
.next/cache
out
build
.next_build
.next/static
*.log
Dockerfile
docker-compose*.yml
docker-compose*.yaml
.vscode
.idea
*.local
coverage
